@charset "UTF-8";

body {
	background-color: PowderBlue;
	text-align: center;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 180px;
    width: auto
}

.visitFinder {
	margin-bottom: 0
}


.main-title {
	font-size: 38px;
	text-align: center;
	margin : 27px 0 50px 0;
}

.inscription {
	text-align: center;
}

.inscription-link {
	text-decoration: none;
	color: orangered;
	transition: all 0.3s;
}

.inscription-link:hover {
	color: lightseagreen;
}

.back {
	text-align: center;
}

.back-link {
	text-decoration: none;
	color: RoyalBlue;
	transition: all 0.3s;
}

.back-link:hover {
	color: lightseagreen;
}

.submit-btn:hover {
	cursor: pointer;
}