@charset "UTF-8";

body {
	background-color: Lavender;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 180px;
    width: auto
}


.main-title {
	font-size: 32px;
	text-align: center;
	margin : 27px 0 50px 0;
}

.inscription {
	text-align: center;
}

.inscription-link {
	text-decoration: none;
	color: aliceblue;
	transition: all 0.3s;
}

.inscription-link:hover {
	color: lightseagreen;
}